# Team Basic Boxscores

In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

conn = create_connection("C:\\Users\\alexp\\src\\NBA_Models\\sqlite\\db\\nba_data.db")
cur = conn.cursor()
cur.execute("SELECT * FROM team_basic_boxscores")
rows = cur.fetchall()

db_list = []

for row in rows:
    db_list.append(row)


basic_boxscores_db = pd.DataFrame(data=db_list)

basic_boxscores_db.columns = ['SEASON TEXT', 'TEAM_ID INTEGER', 'TEAM_ABBREVIATION TEXT', 
            'TEAM_NAME TEXT', 'GAME_ID TEXT', 'GAME_DATE DATE', 'MATCHUP TEXT', 'WL TEXT', 'MIN INTEGER', 'FGM INTEGER', 'FGA INTEGER', 
            'FG_PCT FLOAT', 'FG3M INTEGER', 'FG3A  INTEGER', 'FG3_PCT FLOAT', 'FTM INTEGER', 'FTA INTEGER', 'FT_PCT FLOAT', 'OREB INTEGER',
            'DREB INTEGER', 'REB INTEGER', 'AST INTEGER', 'STL INTEGER', 'BLK INTEGER', 'TOV INTEGER', 'PF INTEGER', 'PTS INTEGER', 
            'PLUS_MINUS INTEGER']

display(basic_boxscores_db)

,SEASON TEXT,TEAM_ID INTEGER,TEAM_ABBREVIATION TEXT,TEAM_NAME TEXT,GAME_ID TEXT,GAME_DATE DATE,MATCHUP TEXT,WL TEXT,MIN INTEGER,FGM INTEGER,...,OREB INTEGER,DREB INTEGER,REB INTEGER,AST INTEGER,STL INTEGER,BLK INTEGER,TOV INTEGER,PF INTEGER,PTS INTEGER,PLUS_MINUS INTEGER
0,2013-14,1610612748,MIA,Miami Heat,0021300002,2013-10-29,MIA vs. CHI,W,240,37,...,5,35,40,26,10,7,20,21,107,12
1,2013-14,1610612741,CHI,Chicago Bulls,0021300002,2013-10-29,CHI @ MIA,L,240,35,...,11,30,41,23,11,4,19,27,95,-12
2,2013-14,1610612746,LAC,Los Angeles Clippers,0021300003,2013-10-29,LAC @ LAL,L,240,41,...,10,30,40,27,11,4,16,21,103,-13
3,2013-14,1610612747,LAL,Los Angeles Lakers,0021300003,2013-10-29,LAL vs. LAC,W,240,42,...,18,34,52,23,8,6,19,23,116,13
4,2013-14,1610612753,ORL,Orlando Magic,0021300001,2013-10-29,ORL @ IND,L,240,36,...,13,26,39,17,10,6,19,26,87,-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26459,2023-24,1610612751,BKN,Brooklyn Nets,0022300383,2023-12-22,BKN vs. DEN,None,120,22,...,8,12,20,18,4,2,5,8,60,2
26460,2023-24,1610612742,DAL,Dallas Mavericks,0022300385,2023-12-22,DAL @ HOU,None,0,4,...,2,7,9,1,0,0,2,2,12,-6
26461,2023-24,1610612745,HOU,Houston Rockets,0022300385,2023-12-22,HOU vs. DAL,None,0,8,...,4,10,14,2,0,0,2,5,18,6
26462,2023-24,1610612755,PHI,Philadelphia 76ers,0022300382,2023-12-22,PHI vs. TOR,None,120,25,...,2,19,21,20,4,5,9,13,68,8
26463,2023-24,1610612761,TOR,Toronto Raptors,0022300382,2023-12-22,TOR @ PHI,None,120,21,...,4,20,24,16,6,1,9,9,60,-8

# Team Advanced Boxscores

In [28]:
cur2 = conn.cursor()
cur2.execute("SELECT * FROM team_advanced_boxscores")
rows2 = cur2.fetchall()

db_advanced_list = []

for row in rows2:
    db_advanced_list.append(row)

advanced_boxscores_db = pd.DataFrame(data=db_advanced_list)

advanced_boxscores_db.columns = ['GAME_ID TEXT', 'TEAM_ID INTEGER', 'TEAM_NAME TEXT', 
            'TEAM_ABBREVIATION TEXT', 'TEAM_CITY TEXT', 'MIN TEXT', 'E_OFF_RATING FLOAT', 'OFF_RATING FLOAT', 'E_DEF_RATING FLOAT', 
            'DEF_RATING FLOAT', 'E_NET_RATING FLOAT', 'NET_RATING FLOAT', 'AST_PCT FLOAT', 'AST_TOV FLOAT', 
            'AST_RATIO FLOAT', 'OREB_PCT FLOAT', 'DREB_PCT FLOAT', 'REB_PCT FLOAT', 'E_TM_TOV_PCT FLOAT', 
            'TM_TOV_PCT FLOAT', 'EFG_PCT FLOAT', 'TS_PCT FLOAT', 'USG_PCT FLOAT', 'E_USG_PCT FLOAT', 'E_PACE FLOAT', 
            'PACE FLOAT', 'PACE_PER40 FLOAT', 'POSS FLOAT', 'PIE FLOAT']

display(advanced_boxscores_db.loc[:26463])

,GAME_ID TEXT,TEAM_ID INTEGER,TEAM_NAME TEXT,TEAM_ABBREVIATION TEXT,TEAM_CITY TEXT,MIN TEXT,E_OFF_RATING FLOAT,OFF_RATING FLOAT,E_DEF_RATING FLOAT,DEF_RATING FLOAT,...,TM_TOV_PCT FLOAT,EFG_PCT FLOAT,TS_PCT FLOAT,USG_PCT FLOAT,E_USG_PCT FLOAT,E_PACE FLOAT,PACE FLOAT,PACE_PER40 FLOAT,POSS FLOAT,PIE FLOAT
0,0021300003,1610612747,Lakers,LAL,Los Angeles,240.000000:00,109.1,117.2,103.9,105.1,...,19.2,0.527,0.551,1.0,0.195,102.72,98.5,82.08,99.0,0.503
1,0021300003,1610612746,Clippers,LAC,Los Angeles,240.000000:00,103.9,105.1,109.1,117.2,...,16.3,0.542,0.553,1.0,0.200,102.72,98.5,82.08,98.0,0.497
2,0021300001,1610612753,Magic,ORL,Orlando,240.000000:00,84.1,92.6,101.0,103.2,...,20.2,0.435,0.447,1.0,0.194,99.74,94.0,78.33,94.0,0.339
3,0021300001,1610612754,Pacers,IND,Indiana,240.000000:00,101.0,103.2,84.1,92.6,...,22.3,0.528,0.570,1.0,0.198,99.74,94.0,78.33,94.0,0.661
4,0021300002,1610612748,Heat,MIA,Miami,240.000000:00,107.3,108.1,93.9,96.9,...,20.2,0.590,0.631,1.0,0.197,100.44,98.5,82.08,99.0,0.599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26459,0022300384,1610612737,Hawks,ATL,Atlanta,240.000000:00,108.5,111.9,117.1,122.0,...,13.9,0.536,0.553,1.0,0.198,104.18,100.5,83.75,101.0,0.468
26460,0022300383,1610612743,Nuggets,DEN,Denver,240.000000:00,127.1,128.4,120.1,125.8,...,6.3,0.580,0.622,1.0,0.198,96.72,94.0,78.33,95.0,0.541
26461,0022300383,1610612751,Nets,BKN,Brooklyn,240.000000:00,120.1,125.8,127.1,128.4,...,11.8,0.556,0.582,1.0,0.196,96.72,94.0,78.33,93.0,0.459
26462,0022300382,1610612761,Raptors,TOR,Toronto,240.000000:00,110.6,109.9,117.2,121.0,...,11.9,0.500,0.559,1.0,0.201,101.78,100.5,83.75,101.0,0.477
26463,0022300382,1610612755,76ers,PHI,Philadelphia,240.000000:00,117.2,121.0,110.6,109.9,...,14.0,0.614,0.656,1.0,0.196,101.78,100.5,83.75,100.0,0.523