In [8]:
import sys
sys.path.insert(0, "..\scripts")

# Team Basic Boxscores

In [9]:
import sqlite3
from sqlite3 import Error
import pandas as pd

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

conn = create_connection("C:\\Users\\alexp\\src\\NBA_Models\\sqlite\\db\\nba_data.db")
cur = conn.cursor()
cur.execute("SELECT * FROM team_basic_boxscores")
rows = cur.fetchall()

db_list = []

for row in rows:
    db_list.append(row)


basic_boxscores_db = pd.DataFrame(data=db_list)

basic_boxscores_db.columns = ['SEASON', 'TEAM_ID', 'TEAM_ABBREVIATION', 
            'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 
            'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
            'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 
            'PLUS_MINUS']

display(basic_boxscores_db)

,SEASON,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
0,2013-14,1610612748,MIA,Miami Heat,0021300002,2013-10-29,MIA vs. CHI,W,240,37,72,0.514,11,20,0.550,22,29,0.759,5,35,40,26,10,7,20,21,107,12
1,2013-14,1610612741,CHI,Chicago Bulls,0021300002,2013-10-29,CHI @ MIA,L,240,35,83,0.422,7,26,0.269,18,23,0.783,11,30,41,23,11,4,19,27,95,-12
2,2013-14,1610612746,LAC,Los Angeles Clippers,0021300003,2013-10-29,LAC @ LAL,L,240,41,83,0.494,8,21,0.381,13,23,0.565,10,30,40,27,11,4,16,21,103,-13
3,2013-14,1610612747,LAL,Los Angeles Lakers,0021300003,2013-10-29,LAL vs. LAC,W,240,42,93,0.452,14,29,0.483,18,28,0.643,18,34,52,23,8,6,19,23,116,13
4,2013-14,1610612753,ORL,Orlando Magic,0021300001,2013-10-29,ORL @ IND,L,240,36,93,0.387,9,19,0.474,6,10,0.600,13,26,39,17,10,6,19,26,87,-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26673,2023-24,1610612766,CHA,Charlotte Hornets,0022300484,2024-01-05,CHA @ CHI,L,240,36,89,0.404,10,34,0.294,9,12,0.750,12,30,42,20,7,1,13,20,91,-13
26674,2023-24,1610612740,NOP,New Orleans Pelicans,0022300486,2024-01-05,NOP vs. LAC,L,240,33,92,0.359,12,29,0.414,17,23,0.739,14,29,43,22,9,5,9,17,95,-16
26675,2023-24,1610612746,LAC,LA Clippers,0022300486,2024-01-05,LAC @ NOP,W,240,40,82,0.488,15,36,0.417,16,20,0.800,10,40,50,28,6,7,15,18,111,16
26676,2023-24,1610612750,MIN,Minnesota Timberwolves,0022300485,2024-01-05,MIN @ HOU,W,240,46,88,0.523,14,33,0.424,16,20,0.800,9,43,52,31,12,7,14,18,122,27
26677,2023-24,1610612757,POR,Portland Trail Blazers,0022300487,2024-01-05,POR @ DAL,L,240,39,95,0.411,13,40,0.325,12,17,0.706,10,32,42,27,9,3,19,15,103,-36

# Team Advanced Boxscores

In [10]:
cur2 = conn.cursor()
cur2.execute("SELECT * FROM team_advanced_boxscores")
rows2 = cur2.fetchall()

db_advanced_list = []

for row in rows2:
    db_advanced_list.append(row)

advanced_boxscores_db = pd.DataFrame(data=db_advanced_list)

advanced_boxscores_db.columns = ['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 
            'TEAM_ABBREVIATION', 'TEAM_CITY', 'MIN', 'E_OFF_RATING', 'OFF_RATING', 'E_DEF_RATING', 
            'DEF_RATING', 'E_NET_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 
            'AST_RATIO', 'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'E_TM_TOV_PCT', 
            'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'USG_PCT', 'E_USG_PCT', 'E_PACE', 
            'PACE', 'PACE_PER40', 'POSS', 'PIE']

display(advanced_boxscores_db.loc[:26463])

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TOV,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,E_TM_TOV_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0021300003,1610612747,Lakers,LAL,Los Angeles,240.000000:00,109.1,117.2,103.9,105.1,5.2,12.1,0.548,1.21,15.6,0.439,0.745,0.577,17.871,19.2,0.527,0.551,1.0,0.195,102.72,98.5,82.08,99.0,0.503
1,0021300003,1610612746,Clippers,LAC,Los Angeles,240.000000:00,103.9,105.1,109.1,117.2,-5.2,-12.1,0.659,1.69,19.8,0.255,0.561,0.423,16.142,16.3,0.542,0.553,1.0,0.200,102.72,98.5,82.08,98.0,0.497
2,0021300001,1610612753,Magic,ORL,Orlando,240.000000:00,84.1,92.6,101.0,103.2,-16.8,-10.6,0.472,0.89,12.7,0.383,0.683,0.505,18.375,20.2,0.435,0.447,1.0,0.194,99.74,94.0,78.33,94.0,0.339
3,0021300001,1610612754,Pacers,IND,Indiana,240.000000:00,101.0,103.2,84.1,92.6,16.8,10.6,0.500,0.81,13.8,0.317,0.617,0.495,21.857,22.3,0.528,0.570,1.0,0.198,99.74,94.0,78.33,94.0,0.661
4,0021300002,1610612748,Heat,MIA,Miami,240.000000:00,107.3,108.1,93.9,96.9,13.3,11.1,0.703,1.30,19.9,NaN,0.706,NaN,20.048,20.2,0.590,0.631,1.0,0.197,100.44,98.5,82.08,99.0,0.599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26459,0022300389,1610612738,Celtics,BOS,Boston,240.000000:00,143.1,146.5,110.7,111.3,32.5,35.1,0.673,3.30,22.1,0.404,0.771,0.589,9.870,10.1,0.654,0.682,1.0,0.196,99.46,98.0,81.67,99.0,0.634
26460,0022300398,1610612759,Spurs,SAS,San Antonio,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,NaN,NaN,0.0,NaN
26461,0022300398,1610612742,Mavericks,DAL,Dallas,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,NaN,NaN,0.0,NaN
26462,0022300396,1610612739,Cavaliers,CLE,Cleveland,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,NaN,NaN,0.0,NaN
26463,0022300396,1610612741,Bulls,CHI,Chicago,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.000,NaN,NaN,NaN,0.0,NaN

# Team Scoring Boxscores

In [48]:
cur.execute("SELECT * FROM team_scoring_boxscores")
rows3 = cur.fetchall()

db_scoring_list = []

for row in rows3:
    db_scoring_list.append(row)

scoring_boxscores_db = pd.DataFrame(data=db_scoring_list)

scoring_boxscores_db.columns = ['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'MIN', 'PCT_FGA_2PT', 'PCT_FGA_3PT', 'PCT_PTS_2PT', 'PCT_PTS_2PT_MR',
       'PCT_PTS_3PT', 'PCT_PTS_FB', 'PCT_PTS_FT', 'PCT_PTS_OFF_TOV',
       'PCT_PTS_PAINT', 'PCT_AST_2PM', 'PCT_UAST_2PM', 'PCT_AST_3PM',
       'PCT_UAST_3PM', 'PCT_AST_FGM', 'PCT_UAST_FGM']

display(scoring_boxscores_db)

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,0021300001,1610612753,Magic,ORL,Orlando,240.000000:00,0.796,0.204,0.621,0.230,0.310,0.115,0.069,0.241,0.391,0.370,0.630,0.778,0.222,0.472,0.528
1,0021300001,1610612754,Pacers,IND,Indiana,240.000000:00,0.761,0.239,0.557,0.186,0.216,0.134,0.227,0.299,0.371,0.444,0.556,0.714,0.286,0.500,0.500
2,0021300002,1610612748,Heat,MIA,Miami,240.000000:00,0.722,0.278,0.486,0.168,0.308,0.093,0.206,0.140,0.318,0.577,0.423,1.000,0.000,0.703,0.297
3,0021300002,1610612741,Bulls,CHI,Chicago,240.000000:00,0.687,0.313,0.589,0.063,0.221,0.179,0.189,0.316,0.526,0.571,0.429,1.000,0.000,0.657,0.343
4,0021300003,1610612747,Lakers,LAL,Los Angeles,240.000000:00,0.688,0.312,0.483,0.121,0.362,0.112,0.155,0.241,0.362,0.429,0.571,0.786,0.214,0.548,0.452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26665,0022300480,1610612737,Hawks,ATL,Atlanta,240.000000:00,0.548,0.452,0.517,0.017,0.259,0.198,0.224,0.129,0.500,0.400,0.600,0.900,0.100,0.525,0.475
26666,0022300487,1610612757,Trail Blazers,POR,Portland,240.000000:00,0.579,0.421,0.505,0.078,0.379,0.117,0.117,0.204,0.427,0.577,0.423,0.923,0.077,0.692,0.308
26667,0022300487,1610612742,Mavericks,DAL,Dallas,240.000000:00,0.604,0.396,0.561,0.101,0.367,0.259,0.072,0.144,0.460,0.487,0.513,0.941,0.059,0.625,0.375
26668,0022300481,1610612760,Thunder,OKC,Oklahoma City,240.000000:00,0.631,0.369,0.626,0.070,0.235,0.113,0.139,0.174,0.557,0.583,0.417,0.889,0.111,0.644,0.356
26669,0022300481,1610612751,Nets,BKN,Brooklyn,240.000000:00,0.571,0.429,0.435,0.048,0.339,0.105,0.226,0.089,0.387,0.444,0.556,0.929,0.071,0.610,0.390

In [49]:
import numpy as np

cur.execute("SELECT * FROM player_game_logs")
rows3 = cur.fetchall()

db_scoring_list = []

for row in rows3:
    db_scoring_list.append(row)

player_index = pd.DataFrame(data=db_scoring_list)

player_index.columns = ["SEASON_YEAR","PLAYER_ID","PLAYER_NAME","NICKNAME",
            "TEAM_ID","TEAM_ABBREVIATION","TEAM_NAME","GAME_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA",
            "FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST",
            "TOV","STL","BLK","BLKA","PF","PFD","PTS","PLUS_MINUS","NBA_FANTASY_PTS","DD2",
            "TD3","GP_RANK","W_RANK","L_RANK","W_PCT_RANK","MIN_RANK","FGM_RANK","FGA_RANK",
            "FG_PCT_RANK","FG3M_RANK","FG3A_RANK","FG3_PCT_RANK","FTM_RANK","FTA_RANK","FT_PCT_RANK",
            "OREB_RANK","DREB_RANK","REB_RANK","AST_RANK","TOV_RANK","STL_RANK","BLK_RANK",
            "BLKA_RANK","PF_RANK","PFD_RANK","PTS_RANK","PLUS_MINUS_RANK","NBA_FANTASY_PTS_RANK",
            "DD2_RANK","TD3_RANK",'WNBA_FANTASY_PTS','WNBA_FANTASY_PTS_RANK','AVAILABLE_FLAG']

player_index['TEAM_ID'] = player_index['TEAM_ID'].astype(str, copy=True)
player_index['GAME_ID'] = player_index['GAME_ID'].astype(str, copy=True)
player_index['PLAYER_ID'] = player_index['PLAYER_ID'].astype(str, copy=True)

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
display(pd.DataFrame(player_index.dtypes))
#player_index.loc[player_index["GAME_ID"] == '0022200773']
#player_index

                             0
SEASON_YEAR             object
PLAYER_ID               object
PLAYER_NAME             object
NICKNAME                object
TEAM_ID                 object
...                        ...
DD2_RANK                 int64
TD3_RANK                 int64
WNBA_FANTASY_PTS       float64
WNBA_FANTASY_PTS_RANK    int64
AVAILABLE_FLAG         float64

[68 rows x 1 columns]

In [44]:
import transform_db
from transform_db import transform

obj = transform(conn=conn,start_season=2013,end_season=2023)
data = obj.load_team_data()
cleaned = obj.clean_team_data(data)
cleaned = cleaned.dropna(subset='PCT_PTS_2PT')
convert_pct = obj.convert_pcts(cleaned)
matchups = obj.create_matchups(convert_pct)
df = matchups

df = df[df['HOME_GAME_team'] == 1]

pd.set_option('display.max_columns', None)
df.dtypes

SEASON_team                       object
TEAM_ID_team                       int64
TEAM_ABBREVIATION_team            object
TEAM_NAME_team                    object
GAME_ID                           object
GAME_DATE_team            datetime64[ns]
MATCHUP_team                      object
HOME_GAME_team                     int32
TEAM_SCORE_team                    int64
POINT_DIFF_team                    int64
WL_team                            int32
RECORD_team                        int32
FG2M_team                          int64
FG2A_team                          int64
FG3M_team                          int64
FG3A_team                          int64
FTM_team                           int64
FTA_team                           int64
OREB_team                          int64
DREB_team                          int64
REB_team                           int64
AST_team                           int64
STL_team                           int64
BLK_team                           int64
TOV_team                           int64
PF_team                            int64
PTS_team                           int64
PLUS_MINUS_team                    int64
E_OFF_RATING_team                float64
OFF_RATING_team                  float64
E_DEF_RATING_team                float64
DEF_RATING_team                  float64
E_NET_RATING_team                float64
NET_RATING_team                  float64
POSS_team                        float64
PIE_team                         float64
PTS_2PT_MR_team                     int8
PTS_FB_team                         int8
PTS_OFF_TOV_team                    int8
PTS_PAINT_team                      int8
AST_2PM_team                        int8
AST_3PM_team                        int8
UAST_2PM_team                       int8
UAST_3PM_team                       int8
SEASON_opp                        object
TEAM_ID_opp                        int64
TEAM_ABBREVIATION_opp             object
TEAM_NAME_opp                     object
GAME_DATE_opp             datetime64[ns]
MATCHUP_opp                       object
HOME_GAME_opp                      int32
TEAM_SCORE_opp                     int64
POINT_DIFF_opp                     int64
WL_opp                             int32
RECORD_opp                         int32
FG2M_opp                           int64
FG2A_opp                           int64
FG3M_opp                           int64
FG3A_opp                           int64
FTM_opp                            int64
FTA_opp                            int64
OREB_opp                           int64
DREB_opp                           int64
REB_opp                            int64
AST_opp                            int64
STL_opp                            int64
BLK_opp                            int64
TOV_opp                            int64
PF_opp                             int64
PTS_opp                            int64
PLUS_MINUS_opp                     int64
E_OFF_RATING_opp                 float64
OFF_RATING_opp                   float64
E_DEF_RATING_opp                 float64
DEF_RATING_opp                   float64
E_NET_RATING_opp                 float64
NET_RATING_opp                   float64
POSS_opp                         float64
PIE_opp                          float64
PTS_2PT_MR_opp                      int8
PTS_FB_opp                          int8
PTS_OFF_TOV_opp                     int8
PTS_PAINT_opp                       int8
AST_2PM_opp                         int8
AST_3PM_opp                         int8
UAST_2PM_opp                        int8
UAST_3PM_opp                        int8
dtype: object

# Model

In [14]:
df

X = df[]

SyntaxError: invalid syntax (2198342013.py, line 3)

In [ ]:
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.neighbors import KNeighborsClassifier

SFS = SequentialFeatureSelector()

SFS.fit()