In [6]:
import sys
sys.path.insert(0, "/home/alexp/NBA_Models/src/scripts/")

In [7]:
import data.transform_data
from data.transform_data import transform
from data.load_data import load_clean
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sqlite3

pd.set_option("display.max_columns",None)

In [8]:
path = "/home/alexp/NBA_Models/sqlite/db/nba_data.db"
load = load_clean(path)
agg_boxscores = load.agg_boxscores_raw()
players = load.players()

In [12]:
players

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS,WNBA_FANTASY_PTS_RANK,AVAILABLE_FLAG
0,2013-14,203104,Marquis Teague,Marquis,1610612751,BKN,Brooklyn Nets,0021301224,2014-04-16T00:00:00,BKN @ CLE,L,41.483333,2,9,0.222,1,3,0.333,2,2,1.000,0,5,5,4,4,1,0,3,1,1,7,-19,18.0,0,0,1,12875,12875,12875,718,14748,9044,20418,5024,6256,6480,6578,8189,1,13390,4234,7025,3686,848,4715,7678,25052,4560,12544,13794,24664,13000,2167,47,19.0,11395,1.0
1,2013-14,1713,Vince Carter,Vince,1610612742,DAL,Dallas Mavericks,0021301216,2014-04-16T00:00:00,DAL @ MEM,L,26.403333,4,11,0.364,1,4,0.250,0,2,0.000,0,2,2,0,2,2,0,0,4,4,9,7,15.4,0,0,1,12875,12875,12875,10949,8580,6386,15813,5024,4189,8282,13990,8189,13990,13390,12561,15412,17694,4624,1559,7678,1,21355,2985,11331,5756,14787,2167,47,16.0,13525,1.0
2,2013-14,202705,MarShon Brooks,MarShon,1610612747,LAL,Los Angeles Lakers,0021301221,2014-04-16T00:00:00,LAL @ SAS,W,8.750000,3,4,0.750,0,1,0.000,1,2,0.500,0,1,1,0,1,0,0,0,1,1,7,2,7.2,0,0,1,1,1,1,22284,11446,17592,1759,10050,11917,10050,10700,8189,10714,13390,16983,19088,17694,9505,11946,7678,1,4560,12544,13794,9778,20416,2167,47,8.0,19315,1.0
3,2013-14,203507,Giannis Antetokounmpo,Giannis,1610612749,MIL,Milwaukee Bucks,0021301217,2014-04-16T00:00:00,MIL vs. ATL,L,26.250000,4,6,0.667,2,3,0.667,0,0,0.000,1,4,5,3,1,0,1,0,5,2,10,4,22.5,0,0,1,12875,12875,12875,11082,8580,13930,2791,2352,6256,1761,13990,14885,13990,6679,6220,7025,5378,9505,11946,2516,1,24081,8067,10132,7995,10058,2167,47,22.0,9405,1.0
4,2013-14,2223,Samuel Dalembert,Samuel,1610612742,DAL,Dallas Mavericks,0021301216,2014-04-16T00:00:00,DAL @ MEM,L,11.466667,1,2,0.500,0,0,0.000,0,0,0.000,1,2,3,0,2,0,0,0,5,0,2,-5,3.6,0,0,1,12875,12875,12875,21203,18183,21008,7679,10050,15492,10050,13990,14885,13990,6679,12561,12106,17694,4624,11946,7678,1,24081,18504,20191,17192,22671,2167,47,5.0,21464,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264748,2023-24,201569,Eric Gordon,Eric,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24T00:00:00,PHX @ GSW,W,31.650000,4,16,0.250,2,9,0.222,0,0,0.000,1,3,4,1,1,1,1,2,2,1,10,6,21.3,0,0,1,1,1,1,2729,4106,1296,8784,1917,453,5655,5910,6276,5910,2850,3996,4130,6038,3751,1858,1147,10218,5338,4994,4840,2969,5142,940,42,21.0,4869,1.0
264749,2023-24,203952,Andrew Wiggins,Andrew,1610612744,GSW,Golden State Warriors,0022300062,2023-10-24T00:00:00,GSW vs. PHX,L,27.283333,4,12,0.333,0,3,0.000,2,3,0.667,1,0,1,0,0,0,1,1,3,2,10,-22,14.2,0,0,1,5656,5656,5656,4298,4106,2616,7575,6278,4557,6278,2804,2747,4184,2850,9514,8455,8427,6954,5175,1147,7471,7851,3191,4840,10988,7145,940,42,13.0,7220,1.0
264750,2023-24,1629234,Drew Eubanks,Drew,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24T00:00:00,PHX @ GSW,W,19.233333,1,3,0.333,0,0,0.000,2,4,0.500,2,5,7,2,3,0,3,0,3,4,4,-2,21.4,0,0,1,1,1,1,7037,8174,8417,7575,6278,8871,6278,2804,1785,4704,1382,1910,1666,4197,798,5175,147,1,7851,1245,8003,6261,5113,940,42,19.0,5432,1.0
264751,2023-24,1628960,Grayson Allen,Grayson,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24T00:00:00,PHX @ GSW,W,20.921667,0,6,0.000,0,5,0.000,0,0,0.000,3,1,4,2,1,0,0,0,2,0,0,-4,6.8,0,0,1,1,1,1,6494,9704,6157,9704,6278,2354,6278,5910,6276,5910,670,7538,4130,4197,3751,5175,3636,1,5338,7689,9965,7107,9211,940,42,6.0,9240,1.0
264752,2023-24,1629006,Josh Okogie,Josh,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24T00:00:00,PHX @ GSW,W,31.636667,7,9,0.778,1,1,1.000,2,2,1.000,4,1,5,1,2,1,0,0,2,5,17,2,25.5,0,0,1,1,1,1,2739,1694,4107,875,3636,7342,1,2804,3399,1,334,7538,3073,6038,1815,1858,3636,1,5338,719,2343,4487,4072,940,42,26.0,3577,1.0

In [46]:
conn = sqlite3.connect(path)

clean = transform(conn,2013,2023)
clean = clean.transform(type='player_boxscores')

#filter = list(pd.Series(clean.columns).str.contains('_RANK'))
df = clean.loc[:,~clean.columns.str.contains('_RANK')]

In [47]:
df

,SEASON_YEAR,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,NBA_FANTASY_PTS,DD2,TD3,WNBA_FANTASY_PTS,AVAILABLE_FLAG,HOME_GAME
0,2013-14,203104,Marquis Teague,Marquis,1610612751,BKN,Brooklyn Nets,0021301224,2014-04-16,BKN @ CLE,0,41.483333,2,9,0.222,1,3,0.333,2,2,1.000,0,5,5,4,4,1,0,3,1,1,7,-19,18.0,0,0,19.0,1.0,0
1,2013-14,1713,Vince Carter,Vince,1610612742,DAL,Dallas Mavericks,0021301216,2014-04-16,DAL @ MEM,0,26.403333,4,11,0.364,1,4,0.250,0,2,0.000,0,2,2,0,2,2,0,0,4,4,9,7,15.4,0,0,16.0,1.0,0
2,2013-14,202705,MarShon Brooks,MarShon,1610612747,LAL,Los Angeles Lakers,0021301221,2014-04-16,LAL @ SAS,1,8.750000,3,4,0.750,0,1,0.000,1,2,0.500,0,1,1,0,1,0,0,0,1,1,7,2,7.2,0,0,8.0,1.0,0
3,2013-14,203507,Giannis Antetokounmpo,Giannis,1610612749,MIL,Milwaukee Bucks,0021301217,2014-04-16,MIL vs. ATL,0,26.250000,4,6,0.667,2,3,0.667,0,0,0.000,1,4,5,3,1,0,1,0,5,2,10,4,22.5,0,0,22.0,1.0,1
4,2013-14,2223,Samuel Dalembert,Samuel,1610612742,DAL,Dallas Mavericks,0021301216,2014-04-16,DAL @ MEM,0,11.466667,1,2,0.500,0,0,0.000,0,0,0.000,1,2,3,0,2,0,0,0,5,0,2,-5,3.6,0,0,5.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264748,2023-24,201569,Eric Gordon,Eric,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24,PHX @ GSW,1,31.650000,4,16,0.250,2,9,0.222,0,0,0.000,1,3,4,1,1,1,1,2,2,1,10,6,21.3,0,0,21.0,1.0,0
264749,2023-24,203952,Andrew Wiggins,Andrew,1610612744,GSW,Golden State Warriors,0022300062,2023-10-24,GSW vs. PHX,0,27.283333,4,12,0.333,0,3,0.000,2,3,0.667,1,0,1,0,0,0,1,1,3,2,10,-22,14.2,0,0,13.0,1.0,1
264750,2023-24,1629234,Drew Eubanks,Drew,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24,PHX @ GSW,1,19.233333,1,3,0.333,0,0,0.000,2,4,0.500,2,5,7,2,3,0,3,0,3,4,4,-2,21.4,0,0,19.0,1.0,0
264751,2023-24,1628960,Grayson Allen,Grayson,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24,PHX @ GSW,1,20.921667,0,6,0.000,0,5,0.000,0,0,0.000,3,1,4,2,1,0,0,0,2,0,0,-4,6.8,0,0,6.0,1.0,0
264752,2023-24,1629006,Josh Okogie,Josh,1610612756,PHX,Phoenix Suns,0022300062,2023-10-24,PHX @ GSW,1,31.636667,7,9,0.778,1,1,1.000,2,2,1.000,4,1,5,1,2,1,0,0,2,5,17,2,25.5,0,0,26.0,1.0,0

In [ ]:




clean = transform(conn,2013,2023)
game_data = clean.load_team_data()
game_data = clean.clean_team_data(game_data)
game_data = game_data.dropna(subset='PCT_PTS_2PT')
game_data = clean.convert_pcts(game_data)

game_data['TEAM_ID'] = game_data['TEAM_ID'].astype('string')
game_data['GAME_ID'] = game_data['GAME_ID'].astype('string')

transformed_players = players.groupby(["TEAM_ID",'GAME_ID']).mean(numeric_only=True).reset_index()

transformed_players['TEAM_ID'] = transformed_players['TEAM_ID'].astype('string')
transformed_players['GAME_ID'] = transformed_players['GAME_ID'].astype('string')

transformed_players = transformed_players.drop(columns=['WNBA_FANTASY_PTS_RANK','AVAILABLE_FLAG','WNBA_FANTASY_PTS'])

In [ ]:
merged_data = pd.merge(left=game_data,right=transformed_players,on=['GAME_ID','TEAM_ID'],suffixes=['_game','_players'])

In [ ]:
merged_data = merged_data.drop(columns=['TEAM_ID','GAME_ID','TEAM_NAME','GAME_DATE','MATCHUP','TD3','TD3_RANK'])

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaled_df = merged_data.loc[:,merged_data.columns[4:]]
scaled_array = scaler.fit_transform(scaled_df)
scaled = pd.DataFrame(scaled_array,columns=scaled_df.columns)

In [ ]:
add_columns = merged_data.loc[:,merged_data.columns[:4]]
merged_data[scaled.columns] = scaled.values

# Create Input Array

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(merged_data['TEAM_ABBREVIATION'])
merged_data['TEAM_ABBREVIATION'] = encoder.transform(merged_data['TEAM_ABBREVIATION'])

encoder.fit(merged_data['SEASON'])
merged_data['SEASON'] = encoder.transform(merged_data['SEASON'])

In [ ]:
merged_data

In [ ]:
WL_corr = pd.DataFrame(merged_data.corr()['WL']).reset_index()

In [ ]:
import altair as alt

interval = alt.selection_interval()

alt.Scale(WL_corr).mark_bar().encode(
    x='index',
    y='WL',
    tooltip='WL',
    color=alt.Color('WL', scale=alt.Scale(range=['red', 'green']))
)

In [ ]:
# Define two single-value sliders for the lower and upper bounds
min_slider = alt.binding_range(min=-1, max=1, step=0.01, name='Min WL')
max_slider = alt.binding_range(min=-1, max=1, step=0.01, name='Max WL')

# Define the selection for the lower and upper bounds
select_wl_min = alt.selection_single(bind=min_slider, name='Min WL', fields=['WL_min'])
select_wl_max = alt.selection_single(bind=max_slider, name='Max WL', fields=['WL_max'])

# Create the bar chart with the selection filter applied
bar_chart = alt.Chart(WL_corr).mark_bar().encode(
    x='index:N',
    y='WL:Q',
    color=alt.Color('WL', scale=alt.Scale(range=['red', 'green'])
    )
).add_selection(
    select_wl_min,
    select_wl_max
).transform_filter(
    'datum.WL <= Min_WL_WL_min && datum.WL >= Max_WL_WL_max'
)

# Display the chart
bar_chart.display()

In [ ]:
WL_pos_corr = WL_corr[(WL_corr['WL'] > .30)]
WL_neg_corr = WL_corr[(WL_corr['WL'] < -.25)]
WL_high_corr = pd.concat([WL_pos_corr,WL_neg_corr])
filter_features = ['TEAM_ABBREVIATION','SEASON','HOME_GAME']+list(WL_high_corr['index'])
data = merged_data[filter_features]
data

In [ ]:
def create_windows(data,window_size):
  X_list = []
  y_list = []

  for i in range(len(data['TEAM_ABBREVIATION'].unique())):
      team = data.loc[data['TEAM_ABBREVIATION'] == i]
      team_label = team['WL'].copy()
      team = team.drop('WL',axis=1)

      team_np = team.to_numpy()
      team_label = team_label.to_numpy()

      #temp_X = []
      #temp_y = []

      for i in range(len(team_np)-window_size):        
        row = [a for a in team_np[i:i+window_size]]
        X_list.append(row)

        label = team_label[i+window_size]
        y_list.append(label)

  X_list = np.array(X_list)
  y_list = np.array(y_list)

  return X_list,y_list

In [ ]:
X_list,y_list = create_windows(data,30)

# Model

In [ ]:
from model import ModelConfig

In [ ]:
model_config = ModelConfig(X_list,y_list,[.75,.10,.15])

In [ ]:
X_train,y_train,X_test,y_test,X_val,y_val = model_config.train_test_val()

In [ ]:
import keras
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.losses import MeanSquaredError,BinaryCrossentropy
from tensorflow.keras.optimizers import Adam, RMSprop
from tensorflow.keras.metrics import RootMeanSquaredError, Accuracy
from tensorflow.keras import regularizers
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
#,kernel_regularizer=regularizers.L2(0.0001)
model = model_config.create_sequential()
model.add(LSTM(32,'tanh'))
model.add(Dense(1,'sigmoid'))

model.compile(loss=BinaryCrossentropy(), optimizer=RMSprop(learning_rate=.001), metrics=[Accuracy(), RootMeanSquaredError()])

In [ ]:
model_config.create_config('model5','/home/alexp/NBA_Models/models/model_configs/')

In [ ]:
keras.backend.clear_session()

In [ ]:
cp = ModelCheckpoint("/home/alexp/NBA_Models/models/models/model5", save_best_only=True)

model.fit(X_train,y_train,validation_data=(X_val,y_val),epochs=100,callbacks=[cp])

In [ ]:
from tensorflow.keras.models import load_model
model = load_model("/home/alexp/NBA_Models/models/models/model5")

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
preds_raw = model.predict(X_test)
actual = y_test
preds = []
for i,pred in enumerate(preds_raw):
    if pred[0] >=.5:
        preds.append(1)
    elif pred[0] <.5:
        preds.append(0)

In [ ]:
confusion_matrix(actual,preds)

In [ ]:
accuracy_score(actual,preds), f1_score(actual,preds)